.home-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home-matter-container {
    width: 40%;
    padding-left: 4%;
}

.home-heading {
    font-size: 50px;
}

.home-para {
    font-size: 25px;
    color: rgba(33, 33, 33, 0.403);
}

.home-img {
    width: 40%;
    height: 50%;
    display: block;
    margin: 2%;
}

.home-btn {
    background-color: #ab7a5f;
    width: 150px;
    padding: 15px;
    text-align: center;
    font-size: 14px;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.home-btn:hover {
    color: #000;
    background-color: #ecd4c8;
}

.featured-box {
    background-color: rgb(238, 243, 246);
    padding: 4%;
    text-align: center;
}

.featured-head {
    text-align: center;
    font-size: 40px;
}

.feature-imgs-box {
    display: flex;
    padding: 3%;
    justify-content: space-evenly;
}

.feature-img-price-box {
    display: flex;
    justify-content: space-between;
}

.feature-imgs-opendrop {
    height: 0;
    width: 100%;
    background: linear-gradient(rgb(235, 171, 9), rgb(248, 244, 234));
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    opacity: 0.5;
}

.feature-imgs {
    height: 24%;
    width: 30%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.feature-imgs:hover .feature-imgs-opendrop {
    height: 100%;
}

.fea-img {
    height: 100%;
    width: 100%;
    display: block;
}


@media screen and (max-width:800px) {
    .home-img {
        display: none;
    }

    .home-matter-container {
        width: 90%;
        padding: 10%;
    }

    .home-para {
        font-size: 18px;
    }

    .home-heading {
        font-size: 30px;
    }

    .home-btn {
        width: 120px;
        padding: 10px;
        font-size: 14px;
    }

    .featured-head {
        font-size: 30px;
    }

    .feature-imgs-box {
        flex-direction: column;
    }

    .feature-imgs {
        height: 15%;
        width: 100%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
}